/* --------------------
    GOOGLE FONTS
-------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300&display=swap');

/* --------------------
    UTILITIES
-------------------- */
body {
  --btn-bg: #e76f51;
}

.body--font {
  font-family: 'Poppins', sans-serif;
}
.banner--btn {
  background: var(--btn-bg) !important;
}
.subtxt--color {
  color: var(--btn-bg);
}

/* --------------------
    HEADER STYLES 
-------------------- */
header {
  --header-bg: #264653;
}

.header--bg {
  background-color: var(--header-bg);
}

.banner--btn:hover {
  background-color: #f1957e !important;
  color: #0e1a1f !important;
  transition: background-color 0.5s ease-out;
}

/* --------------------
    MAIN STYLES 
-------------------- */
main {
  --icon-size: 1.375rem;
  --icon-color: #e77c40;
  --title-color: #23a6f0;
}

/* FEATURE SECTION */
.feature__filter--image {
  filter: grayscale(1);
}

/* RATINGS SECTION */
.ratings--icon i {
  font-size: var(--icon-size);
  color: var(--icon-color);
}

.ratings--title {
  color: var(--title-color);
}

/* FAQ SECTION */
.faq--font {
  font-family: 'Inter', sans-serif;
}

/* --------------------
    FOOTER STYLES 
-------------------- */
footer {
  --footer-bg: #0b0d17;
}

.footer--bg {
  background-color: var(--footer-bg);
}
